<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
		<title>EAT-DA-BURGER</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>       
        <img src="/assets/img/burger.png" alt="A Picture of a Burger should be here">
        <h4>EAT DA BURGER</h4>
		{{{ body }}}
        <textarea name="description" rows="3" columns="50"></textarea><br>
        <button type="submit" class="mainbtn"> Submit</button><br>
        <p>Enter a burger you want to eat Click the "Submit" button.</p> 
	</body>
</html>